<!-- <footer class="d-flex flex-wrap bg-dark text-light justify-content-between align-items-center py-3 border-top mt-auto">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-light text-decoration-none lh-1">
          <i class="fa-solid fa-store fa-lg" style="color: #fab005;"></i>
        </a>
        <span class="mb-3 mb-md-0">© 2025 Mariamzz, Inc</span>
      </div>
  
      <ul class="nav list-unstyled d-flex">
        <li class="ms-3">
          <a class="text-light" href="#"><i class="fa-brands fa-twitter fa-lg"></i></a>
        </li>
        <li class="ms-3">
          <a class="text-light" href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
        </li>
        <li class="ms-3">
          <a class="text-light" href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
        </li>
      </ul>
    </div>
  </footer>
   -->
   <footer class="bg-dark text-light py-5 border-top mt-auto">
    <div class="container">
      <div class="row text-start"> <!-- Ensures text aligns to the left -->
        <!-- Info Column -->
        <div class="col-md-4">
          <h5>Info</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
            <li><a href="#" class="text-light text-decoration-none">Terms of Service</a></li>
            <li><a href="#" class="text-light text-decoration-none">FAQ</a></li>
            <li><a href="#" class="text-light text-decoration-none">Support</a></li>
          </ul>
        </div>
  
      <!-- Support Column -->
      <div class="col-md-4">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Help Center</a></li>
          <li><a href="#" class="text-light text-decoration-none">Contact Us</a></li>
          <li><a href="#" class="text-light text-decoration-none">Report an Issue</a></li>
          <li><a href="#" class="text-light text-decoration-none">Live Chat</a></li>
        </ul>
      </div>

    
        <!-- Location Column -->
        <div class="col-md-4">
          <h5>Location</h5>
          <p>123 Market Street, Cityville, Country</p>
          <p>Email: <a href="mailto:contact@gmail.com" class="text-light text-decoration-none">mariamShop.com</a></p>
          <p>Phone: +1 234 567 890</p>
        </div>
      </div>
  
      <hr class="border-light">
      
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <a href="/" class="me-2 text-light text-decoration-none lh-1">
            <i class="fa-solid fa-store fa-lg" style="color: #fab005;"></i>
          </a>
          <span>© 2025 Mariamzz, Inc</span>
        </div>
        
        <ul class="nav list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-light" href="#"><i class="fa-brands fa-twitter fa-lg"></i></a>
          </li>
          <li class="ms-3">
            <a class="text-light" href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
          </li>
          <li class="ms-3">
            <a class="text-light" href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
          </li>
        </ul>
      </div>
    </div>

  </footer>
  