<footer class="d-flex flex-wrap bg-dark text-light justify-content-between align-items-center py-3 border-top mt-auto">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-light text-decoration-none lh-1">
          <i class="fa-solid fa-store fa-lg" style="color: #fab005;"></i>
        </a>
        <span class="mb-3 mb-md-0">© 2025 Mariamzz, Inc</span>
      </div>
  
      <ul class="nav list-unstyled d-flex">
        <li class="ms-3">
          <a class="text-light" href="#"><i class="fa-brands fa-twitter fa-lg"></i></a>
        </li>
        <li class="ms-3">
          <a class="text-light" href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
        </li>
        <li class="ms-3">
          <a class="text-light" href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
        </li>
      </ul>
    </div>
  </footer>
  