<nav class="navbar shadow navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand logo" href="#">
        <i class="fa-solid fa-store fa-sm" style="color: #fab005;"></i> 
        Mariamzz
      </a>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']" style="color: aliceblue;" routerLinkActive="active-link">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cart']" style="color: aliceblue;"  routerLinkActive="active-link">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" style="color: aliceblue;" routerLinkActive="active-link">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" style="color: aliceblue;"  routerLinkActive="active-link">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  